{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
    <nav role="navigation" aria-labelledby="system-breadcrumb">
      <!-- <h2 class="visually-hidden">{{ 'Breadcrumb'|t }}</h2> -->
        <ol class="breadcrumb">
            {% for key,item in breadcrumb %}
                <li>
                    {% if key == 0 %}
                        <a href="{{ item.url }}"><span class="icon-home"></span></a>
                            {% if item.url %}
                            <a href="{{ item.url }}">{{ item.text }}</a>
                        {% else %}
                            {{ item.text }}
                        {% endif %}
                    {% else %}
                        {% if item.url %}
                            <a href="{{ item.url }}">{{ item.text }}</a>
                        {% else %}
                            {{ item.text }}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </nav>
{% endif %}
